# Completely remove all JS files from language statistics
*.js linguist-detectable=false
*.jsx linguist-detectable=false
*.ts linguist-detectable=false

# Explicitly count PHP and Blade
*.php linguist-language=PHP
*.blade.php linguist-language=Blade